body {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

html {
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

.mapboxgl-popup-content{
    padding: 18px;
} 